# Temp files #
##############
*~
\#*
/temp/
/tmp/
*.bak

# Compiled Executables #
######################
AIR5.3.0/align_warp
AIR5.3.0/alignlinear
AIR5.3.0/binarize
AIR5.3.0/binarymask
AIR5.3.0/binarymath
AIR5.3.0/cd_air
AIR5.3.0/cd_warp
AIR5.3.0/combine_air
AIR5.3.0/combine_warp
AIR5.3.0/crop
AIR5.3.0/definecommon_air
AIR5.3.0/determinant_mask
AIR5.3.0/fixheader
AIR5.3.0/fuse
AIR5.3.0/gsmooth
AIR5.3.0/identify
AIR5.3.0/invert_air
AIR5.3.0/layout
AIR5.3.0/magnify
AIR5.3.0/makeaheader
AIR5.3.0/manualreslice
AIR5.3.0/mv_air
AIR5.3.0/mv_warp
AIR5.3.0/overlay_mask
AIR5.3.0/reconcile_air
AIR5.3.0/reorient
AIR5.3.0/resize
AIR5.3.0/reslice
AIR5.3.0/reslice_ucf
AIR5.3.0/reslice_unwarp
AIR5.3.0/reslice_unwarp_ucf
AIR5.3.0/reslice_vector
AIR5.3.0/reslice_warp
AIR5.3.0/reslice_warp_ucf
AIR5.3.0/reunite
AIR5.3.0/scan_vector
AIR5.3.0/scan_warp
AIR5.3.0/scanair
AIR5.3.0/scanheader
AIR5.3.0/separate
AIR5.3.0/setheadermax
AIR5.3.0/sizeof
AIR5.3.0/softmean
AIR5.3.0/softmeannorescale
AIR5.3.0/src/Makefile
AIR5.3.0/straightmean
AIR5.3.0/straightmeannorescale
AIR5.3.0/strictmean
AIR5.3.0/strictmeannorescale
AIR5.3.0/zoomer

TX_TV3DReg/TX_TV3DReg
air_ecat/ecat_alignlinear
air_ecat/ecat_make_air
air_ecat/ecat_make_air
air_ecat/ecat_reslice
air_ecat/ecat_reslice
compute_norm/compute_norm
e7_tools_HRRT/e7_atten_prj/e7_atten_u
e7_tools_HRRT/e7_fwd_prj/e7_fwd_u
e7_tools_HRRT/e7_sino_prj/e7_sino_u
e7_tools_HRRT/E7_Bin/gm_check
ecatx/utils/matlist
gen_delays_main/gen_delays
gsmooth/gsmooth_ps
hrrt_osem3d/hrrt_osem3d
if2e7/if2e7
je_hrrt_osem3d/je_hrrt_osem3d
lmhistogram_mp/lmhistogram_mp
motion_correction/MAF_join
motion_correction/motion_correct_recon
motion_correction/motion_qc
motion_distance/motion_distance
norm_process/norm_process


# Directories to omit #
#######################
lib/
bin/
/bin/
!/lib/hrrt_rebinner.lut

# Compiled Libraries #
######################
*.a
!e7_tools_HRRT/LinkLibsScatter/libscatter.a

# Compiled source #
###################
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Executables
######################
AIR5.3.0/align_warp
AIR5.3.0/alignlinear
AIR5.3.0/src/Makefile
TX_TV3DReg/TX_TV3DReg
air_ecat/ecat_make_air
air_ecat/ecat_reslice
bin/calcRingRoiRatio
bin/compute_norm
bin/e7_atten_u
bin/e7_sino_u
bin/ecat_alignlinear
bin/ecat_make_air
bin/ecat_reslice
bin/gen_delays
bin/gsmooth_ps
bin/hrrt_osem3d
bin/if2e7
bin/lmhistogram_mp
bin/motion_correct_recon
bin/motion_distance
bin/motion_qc
bin/norm_process
compute_norm/compute_norm
e7_tools_HRRT/E7_Bin/gm_check
e7_tools_HRRT/e7_atten_prj/e7_atten_u
e7_tools_HRRT/e7_fwd_prj/e7_fwd_u
e7_tools_HRRT/e7_sino_prj/e7_sino_u
e7_tools_HRRT/gm_check_prj/gm_check
ecatx/utils/cti2analyze
ecatx/utils/fix_mh
ecatx/utils/matcopy
ecatx/utils/matlist
ecatx/utils/show_header
ecatx/utils/sum_frames
gen_delays_main/gen_delays
gsmooth/gsmooth_ps
hrrt_osem3d/hrrt_osem3d
if2e7/if2e7
lmhistogram_mp/lmhistogram_mp
motion_correction/MAF_join
motion_correction/motion_correct_recon
motion_distance/motion_distance
norm_process/norm_process
